*{
	margin: 0;
	height: auto;
}
body{
	width: 100%;
	height: auto;
}
.total-navbar{
	height: auto;
	background-color: #89ABE3FF;
}
.total-navbar::after{
	content:'';
	display: table;
	clear: both;
}
.name-navbar{
	height:auto;
	float:left;
	background-color: #89ABE3FF;
}
.name-navbar ul{
	margin:0;
	padding: 0;
	list-style: none;
	font-family: 'Shadows Into Light',sans-serif;
	font-size: 2em;
}
.name-navbar li{
	display: inline-block;
	padding-top: 23px;
	padding-bottom: 23px;
	padding-left: 23px;
	padding-right:23px;
}
.name-navbar a{
	text-decoration: none;
	color: #FCF6F5FF;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.name-navbar a:hover,.name-navbar a:active{
	color: black;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.other-navbar{
	height:auto;
	float:right;
	background-color: #89ABE3FF;
}
.other-navbar ul{
	margin:0;
	padding: 0
	list-style: none;
	font-family: 'Karma',sans-serif;
	font-size: 2em;
}
.other-navbar li{
	display: inline-block;
	padding-top: 27px;
	padding-bottom: 23px;
	padding-right: 23px;
	padding-left: 23px;
}
#home a{
	text-decoration: none;
	font-style: bold;
	color: #FCF6F5FF;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
#home a:hover,#hover a:active{
	color: black;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
#about-us a{
	text-decoration: none;
	font-style: bold;
	color: #FCF6F5FF;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
#about-us a:hover,#hover a:active{
	color: black;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
#contact-us a{
	text-decoration: none;
	font-style: bold;
	color: #FCF6F5FF;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
#contact-us a:hover,#hover a:active{
	color: black;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
#categories a{
	text-decoration: none;
	font-style: bold;
	color: #FCF6F5FF;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
#categories a:hover,#hover a:active{
	color: black;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.img-container{
	background-image: url("Website Images/Background Shaded.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
	padding-top:76px;
	padding-bottom:76px;
}
.img-container h1{
	font-size: 10em;
	font-family: 'Shadows Into Light',sans-serif;
	color: #FCF6F5FF;
}
main{
	margin: 0;
	height: auto;
}
.hotlines{
	height: auto;
	background-color: #FCF6F5FF;
	padding-top: 100px;
	padding-right: 15.625vw;
	padding-left: 15.625vw;
	padding-bottom: 100px;
}
.hotlines h1{
	font-family: 'Handlee',sans-serif;
	font-size: 5.5em;
	text-decoration: underline;
}
.hotlines p{
	font-family: 'Karma', sans-serif;
	font-size: 2.5em;
	padding-bottom: 20px;
}
.initial-entry{
	background-color: #FCF6F5FF;
	padding-right: 15.625vw;
	padding-left: 15.625vw;
	padding-bottom: 100px;
}
.initial-entry h2{
	font-family: 'Handlee',sans-serif;
	font-size: 3em;
	text-decoration: underline;
}
.initial-entry h2 a{
	text-decoration: none;
	color: black;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.initial-entry a:hover,#hover a:active{
	color:#89ABE3FF;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.initial-entry p{
	font-family: 'Karma', sans-serif;
	font-size: 1.7em;
	line-height: 45px;
}
.entry{
	background-color: #FCF6F5FF;
	padding-right: 15.625vw;
	padding-left: 15.625vw;
	padding-bottom: 50px;
}
.entry h2{
	font-family: 'Handlee',sans-serif;
	font-size: 3em;
	text-decoration: underline;
}
.entry p{
	font-family: 'Karma', sans-serif;
	font-size: 1.7em;
	line-height: 45px;
}
.footer{
	height: auto;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 140px;
	padding-right: 16vw;
	padding-left: 16vw;
	background-color: #89ABE3FF;
	font-family: 'Karma',sans-serif;
	font-size: 1.1vw;
}
.footer .right{
	float: right;
	color: #FCF6F5FF;
}
.footer .right li{
	display: inline;
	padding-right: 12.5vw;
}
.footer .right #follow-us{
	padding-right: 11vw;
}
.footer .center{
	text-align-last: center;
	padding-left: 40px;
	color: #FCF6F5FF;
}
.footer .left {
	float:left;
	text-decoration: none;
	color: #FCF6F5FF;
}
.footer img{
	width: 5.5vw;
	height: auto;
}
@media only screen and (max-width: 920px){
	.inner-container{
		margin-top: 100px;
	}
}
@media only screen and (max-width: 540px){
	.inner-container{
		margin-top: 150px;
	}
	h1{
		font-size: 5em;
	}
	h2{
		font-size: 1.4em;
	}